
.chart-plot-background { /* background color*/
    -fx-background-color: white;
}


.axis .axis-label {
    -fx-text-fill: #0f172a;          /* x and y axis label-dark navy */
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}


.axis {
    -fx-tick-label-fill: #0f172a;    /* x and y axis values - dark */
    -fx-font-size: 13.5px;
    -fx-font-weight: 700;
}


.chart-horizontal-grid-lines,
.chart-vertical-grid-lines {
    -fx-stroke: #e5e7eb;
    -fx-opacity: 1;
}


.chart-series-line { -fx-stroke-width: 2.5px; }
.chart-symbol {
    -fx-background-color: #ffffff, #f97316;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 7px;
    -fx-padding: 5px;
}



