.colorBackground
{
    /*-fx-background-color: linear-gradient(to right, #131e37, #1c2a4b, #131e37); !*Midnight Blues 5 and 2*!*/
    -fx-background-color: #fff4e6;
}

.title-label
{
    -fx-font-size: 24px !important;
    -fx-font-weight:bold !important;
    -fx-text-fill: white !important; /*White*/
    -fx-padding: 30 !important;
    -fx-font-family: "Segoe UI", "Arial", sans-serif !important;
    -fx-alignment: center !important;
}

.text-field
{
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-color: #627092; /*Midnight Blues: 3*/
    -fx-border-radius: 8;
    -fx-padding: 6 10;
    -fx-font-size: 13px;
}

.text-field:focused
{
    -fx-border-color: #1c2a4b; /*Midnight Blues: 4*/
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0.2, 0, 2);
}

.welcome-text
{
    -fx-font-size:18px;
    -fx-text-fill: white !important;
    -fx-padding: 30;
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
    -fx-alignment: center;
}

.header-label
{
    -fx-background-color: #627092;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.section-title
{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.subtitle
{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.description
{
    -fx-font-size: 12px;
    -fx-text-fill: #ffe760;
}

.label
{
    -fx-font-size: 14px;
    -fx-text-fill: #131e37 /*Midnight Blues: 5*/
}

.distraction-item
{
    -fx-background-color: #e5eef8;
    -fx-border-radius: 10;
    -fx-bacground-radius: 20;
    -fx-padding:10;
}

.tag-label
{
    -fx-background-color: white;
    -fx-padding: 2 5 2 5;
    -fx-border-radius: 10;
    -fx-font-size:10px;
}

.time-label
{
    -fx-font-size: 10px;
    -fx-font-style: italic;
}

.root
{
    -fx-background-color: linear-gradient(to right top, #131e37, #1c2a4b, #131e37); /*Midnight Blues: 5 and 3*/
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
}

#SideBar
{
    -fx-background-color: #ffffff;
    -fx-border-color: #b8b7b7;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius:10;
    -fx-padding: 15;
    -fx-spacing: 20;
    -fx-alignment: top-center;
    -fx-pref-height: 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0.2, 0, 2);
}

#helloView Button {
    -fx-pref-height: 45px;
    -fx-pref-width: 250px;
}

.button
{
    -fx-background-color: linear-gradient(to right, #627092, #1c2a4b); /*Midnight Blues 3 and 4*/
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 25;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0.2, 0, 2);
    -fx-padding: 8 16;
    -fx-transition: all 0.3s ease-in-out;
}

.button:hover
{
    -fx-background-color: #e5eef8; /*Midnight Blues: 2*/
    -fx-text-fill: black;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.floating-button
{
    -fx-background-color: #627092; /*Midnight Blues: 3*/
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0.2, 0, 2);
    -fx-translate-x: -150; /* push left/right */
    -fx-translate-y: -100; /* push up/down */
}

.floating-button:hover
{
    -fx-background-color: #e5eef8;
    -fx-text-fill: black;
}

.primary-button
{
    -fx-background-color: #be9b7b; /*Cappuccino 1*/
    -fx-padding: 10 20 10 20;
}

.primary-button-long
{
    -fx-background-color: #be9b7b; /*Cappuccino 1*/
    -fx-padding: 10 20 10 20;
    -fx-max-width: 250;
}

.secondary-button
{
    -fx-background-color: #627092; /* Midnight Blue 3*/
    -fx-padding: 8 20 8 20;
}

.secondary-button-long
{
    -fx-background-color: #627092; /* Midnight Blue 3*/
    -fx-padding: 8 20 8 20;
    -fx-max-width: 250;
}

.content-box
{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0.2, 0, 2);
    -fx-pref-width: 98%;
}

#SideBar Button
{
    -fx-background-color: #1c2a4b; /*Midnight Blues: 4*/
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-background-radius: 8;
    -fx-pref-height: 30px;
    -fx-pref-width: 150px;
}

#SideBar Button:hover
{
    -fx-background-color: #e5eef8; /*Midnight Blues: 2*/
    -fx-text-fill: black;
}

#TasksButton
{
    -fx-background-color: #627092; /*Midnight Blues 3*/
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0.2, 0, 2);
    -fx-pref-width: 100px;
    -fx-pref-Height: 40px;
}